apiVersion: v2
description: jaeger-operator Helm chart for Kubernetes
name: jaeger
version: 2.57.0-bb.11
appVersion: 1.65.0
home: https://www.jaegertracing.io/
icon: https://www.jaegertracing.io/img/jaeger-icon-reverse-color.svg
sources:
  - https://github.com/jaegertracing/jaeger-operator
maintainers:
  - email: ctadeu@gmail.com
    name: cpanato
  - email: batazor111@gmail.com
    name: batazor
dependencies:
  - name: gluon
    version: 0.5.20
    repository: oci://registry1.dso.mil/bigbang
annotations:
  bigbang.dev/maintenanceTrack: bb_maintainted
  bigbang.dev/applicationVersions: |
    - Jaeger: 1.65.0
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find upstream chart's release notes and CHANGELOG here](https://github.com/jaegertracing/helm-charts/releases?q=jaeger-operator&expanded=true)
    - [Find upstream applications's release notes and CHANGELOG here](https://github.com/jaegertracing/jaeger/releases/)
  helm.sh/images: |
    - name: kube-webhook-certgen
      condition: webhookCertGen.enabled
      image: registry1.dso.mil/ironbank/opensource/ingress-nginx/kube-webhook-certgen:v1.5.3
    - name: all-in-one
      condition: jaeger.create
      image: registry1.dso.mil/ironbank/opensource/jaegertracing/all-in-one:1.69.0
    - name: jaeger-operator
      image: registry1.dso.mil/ironbank/opensource/jaegertracing/jaeger-operator:1.65.0
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
    - name: jaeger-es-index-cleaner
      image: registry1.dso.mil/ironbank/opensource/jaegertracing/jaeger-es-index-cleaner:1.69.0
    - name: jaeger-agent
      image: registry1.dso.mil/ironbank/opensource/jaegertracing/jaeger-agent:1.62.0
    - name: jaeger-ingester
      image: registry1.dso.mil/ironbank/opensource/jaegertracing/jaeger-ingester:1.69.0
    - name: jaeger-query
      image: registry1.dso.mil/ironbank/opensource/jaegertracing/jaeger-query:1.69.0
    - name: jaeger-collector
      image: registry1.dso.mil/ironbank/opensource/jaegertracing/jaeger-collector:1.69.0